.title_span{
	font-weight: bold;
	font-size:25px;
	
}
.head_img{
	width: 175px;
	height: 175px;
	margin-top: 15px;
	border-radius:50%;overflow: hidden;
	cursor: pointer;
}
.fill_div{
	width: 100%;
	padding-bottom: 100%;
}
.inner_img_div{
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}
